{{#extend 'layouts/ui-kit' title="index" active="index" path="./" }}
{{#content "content"}}
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-shap bg-primary-light text-center">
                    <div class="container py-5">
                        <div class="mb-4 d-inline-block">
                            <a href="../backend/index.html" class="header-logo">
                                <img src="{{path}}assets/images/logo.png" class="img-fluid" alt="logo"><h5 class="logo-title ml-3">POSDash</h5>
                            </a>
                        </div>
                        <p class="mb-0">A beautiful Design System for Bootstrap 4. It's Free and Open Source.</p>
                    </div>
                </div>
            </div>        
        </div>
        <section class="section-content">
            <div class="container">
                <div class="row">                    
                    <div class="col-lg-12">
                        <h2 class="mb-4">Basic Elements</h2>
                        <h4 class="text-primary mb-4">Buttons</h4>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Default Buttons</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-primary rounded mt-2">Primary</button>
                            <button type="button" class="btn btn-secondary rounded mt-2">Secondary</button>
                            <button type="button" class="btn btn-success rounded mt-2">Success</button>
                            <button type="button" class="btn btn-danger rounded mt-2">Danger</button>
                            <button type="button" class="btn btn-warning rounded mt-2">Warning</button>
                            <button type="button" class="btn btn-info rounded mt-2">Info</button>
                            <button type="button" class="btn btn-light rounded mt-2">Light</button>
                            <button type="button" class="btn btn-dark rounded mt-2">Dark</button>
                            <button type="button" class="btn btn-link rounded mt-2">Link</button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Rounded Shape Buttons</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-primary rounded mt-2">Primary</button>
                            <button type="button" class="btn btn-secondary rounded mt-2">Secondary</button>
                            <button type="button" class="btn btn-success rounded mt-2">Success</button>
                            <button type="button" class="btn btn-danger rounded mt-2">Danger</button>
                            <button type="button" class="btn btn-warning rounded mt-2">Warning</button>
                            <button type="button" class="btn btn-info rounded mt-2">Info</button>
                            <button type="button" class="btn btn-light rounded mt-2">Light</button>
                            <button type="button" class="btn btn-dark rounded mt-2">Dark</button>
                            <button type="button" class="btn btn-link rounded mt-2">Link</button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Outline Buttons</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-outline-primary mt-2">Primary</button>
                            <button type="button" class="btn btn-outline-secondary mt-2">Secondary</button>
                            <button type="button" class="btn btn-outline-success mt-2">Success</button>
                            <button type="button" class="btn btn-outline-danger mt-2">Danger</button>
                            <button type="button" class="btn btn-outline-warning mt-2">Warning</button>
                            <button type="button" class="btn btn-outline-info mt-2">Info</button>
                            <button type="button" class="btn btn-outline-dark mt-2">Dark</button>
                            <button type="button" class="btn btn-outline-link mt-2">Link</button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Rounded Outline Buttons</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-outline-primary mt-2">Primary</button>
                            <button type="button" class="btn btn-outline-secondary mt-2">Secondary</button>
                            <button type="button" class="btn btn-outline-success mt-2">Success</button>
                            <button type="button" class="btn btn-outline-danger mt-2">Danger</button>
                            <button type="button" class="btn btn-outline-warning mt-2">Warning</button>
                            <button type="button" class="btn btn-outline-info mt-2">Info</button>
                            <button type="button" class="btn btn-outline-dark mt-2">Dark</button>
                            <button type="button" class="btn btn-outline-link mt-2">Link</button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Links</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-link text-primary mt-2">Primary</button>
                            <button type="button" class="btn btn-link text-secondary mt-2">Secondary</button>
                            <button type="button" class="btn btn-link text-success mt-2">Success</button>
                            <button type="button" class="btn btn-link text-danger mt-2">Danger</button>
                            <button type="button" class="btn btn-link text-warning mt-2">Warning</button>
                            <button type="button" class="btn btn-link text-info mt-2">Info</button>
                            <button type="button" class="btn btn-link text-dark mt-2">Dark</button>
                            <button type="button" class="btn btn-link text-link mt-2">Link</button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Pick Your Style</h6>
                        <div class="buttons">
                            <button class="btn btn-primary mt-2" type="button">Button</button>
                            <button class="btn btn-icon btn-3 btn-primary mt-2" type="button">
                                <span class="btn-inner--icon"><i class="las la-shopping-bag"></i></span>
                                <span class="btn-inner--text">Left icon</span>
                            </button>
                            <button class="btn btn-icon btn-3 btn-primary mt-2" type="button">
                                <span class="btn-inner--text">Right icon</span>
                                <span class="btn-inner--icon"><i class="las la-shopping-bag mr-0 ml-2"></i></span>
                            </button>
                            <button class="btn btn-icon btn-primary mt-2" type="button">
                                <span class="btn-inner--icon"><i class="las la-shopping-bag m-0"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Buttons Sizes</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-primary btn-sm mr-2 mt-2">Small Button</button>
                            <button type="button" class="btn btn-primary mr-2 mt-2">Button</button>
                            <button type="button" class="btn btn-primary btn-lg mt-2">Large Button</button>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Icon Buttons</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-primary btn-sm mr-2 mt-2"><i class="las la-shopping-bag m-0"></i></button>
                            <button type="button" class="btn btn-primary mr-2 mt-2"><i class="las la-shopping-bag m-0"></i></button>
                            <button type="button" class="btn btn-primary btn-lg mt-2"><i class="las la-shopping-bag m-0"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h6 class="mb-3">Block Buttons</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-primary btn-block">Block level button</button>
                            <button type="button" class="btn btn-success btn-block">Block level button</button>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h6 class="mb-3">Social Disabled State</h6>
                        <div class="buttons">
                            <button type="button" class="btn btn-primary mt-2" disabled>Primary button</button>
                            <button type="button" class="btn btn-success mt-2" disabled>Button</button>
                            <button type="button" class="btn btn-outline-primary mt-2" disabled>Button</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="text-primary mb-4">Inputs</h4>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h6 class="mb-3">Form Control</h6>
                        <div class="row">
                            <div class="col-lg-4 mb-3">                                
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Text">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon4"><i class="las la-bell font-size-20"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Text" aria-label="notification"
                                    aria-describedby="basic-addon4">
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" disabled="" value="Enter Text">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Text" aria-label="notification"
                                    aria-describedby="basic-addon5">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon5"><i class="las la-bell font-size-20"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control is-valid" placeholder="Enter Text">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control is-invalid" placeholder="Enter Text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-shadow-input">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h6 class="mb-3">Form Control (Alternative)</h6>
                            <div class="row">
                                <div class="col-lg-4 mb-3">                                
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control form-control-alt" placeholder="Enter Text">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon4"><i class="las la-bell font-size-20"></i></span>
                                        </div>
                                        <input type="text" class="form-control form-control-alt" placeholder="Enter Text" aria-label="notification"
                                        aria-describedby="basic-addon4">
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control form-control-alt" disabled="" value="Enter Text">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-alt" placeholder="Enter Text" aria-label="notification"
                                        aria-describedby="basic-addon5">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon5"><i class="las la-bell font-size-20"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control form-control-alt is-valid" placeholder="Enter Text">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-alt is-invalid" placeholder="Enter Text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5">
                        <h6 class="mb-3">Checkbox</h6>
                        <div class="custom-control custom-checkbox mb-3">
                           <input type="checkbox" class="custom-control-input" id="customCheck5">
                           <label class="custom-control-label" for="customCheck5">Primary / Inactive</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                           <input type="checkbox" class="custom-control-input" id="customCheck6" Checked="">
                           <label class="custom-control-label" for="customCheck6">Primary - active</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                           <input type="checkbox" class="custom-control-input" id="customCheck7"  disabled="">
                           <label class="custom-control-label" for="customCheck7">Primary - inactive - disabled</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="customCheck8"  checked="" disabled="">
                           <label class="custom-control-label" for="customCheck8">Primary - active - disabled</label>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <h6 class="mb-3">Radio Buttons</h6>
                        <div class="radio d-block mb-2">
                            <input type="radio" name="bsradio" id="radio1" checked="">
                            <label for="radio1">Active</label>
                        </div>
                        <div class="radio d-block mb-2">
                            <input type="radio" name="bsradio" id="radio2">
                            <label for="radio2">Inactive</label>
                        </div>
                        <div class="radio d-block mb-2">
                            <input type="radio" name="bsradio1" id="radio3" disabled="" checked="">
                            <label for="radio3">Active - Disabled</label>
                        </div>
                        <div class="radio d-block">
                            <input type="radio" name="bsradio1" id="radio4" disabled="">
                            <label for="radio3">Inactive - Disabled</label>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <h6 class="mb-3">Switch Button</h6>
                        <div class="custom-control custom-switch mb-3">
                            <input type="checkbox" class="custom-control-input" id="customSwitch2" checked="">
                            <label class="custom-control-label" for="customSwitch2">Active Switch</label>
                        </div>
                        <div class="custom-control custom-switch mb-3">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Inactive Switch </label>
                        </div>
                        <div class="custom-control custom-switch mb-3">
                            <input type="checkbox" class="custom-control-input" disabled checked="" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3">Disabled Active Switch</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" disabled id="customSwitch4">
                            <label class="custom-control-label" for="customSwitch4">Disabled Inactive Switch</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="text-primary mb-4">Menu</h4>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h6 class="mb-3">Menu With Text</h6>
                        <div class="card bg-primary">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Menu</span>
                                    <div>
                                        <ul class="d-flex align-items-center list-inline p-0 m-0">
                                            <li class="mr-4"><a href="#" class="text-white">Home</a></li>
                                            <li class="mr-4"><a href="#" class="text-white">Profile</a></li>
                                            <li>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton01"
                                                        data-toggle="dropdown">
                                                        Setting
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right shadow-none"
                                                        aria-labelledby="dropdownMenuButton01">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another Action</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h6 class="mb-3">Menu With Icon</h6>
                        <div class="card bg-success">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="text-uppercase">Menu</span>
                                    <div>
                                        <ul class="d-flex align-items-center list-inline p-0 m-0">
                                            <li class="mr-4"><a href="#" class="text-white"><i class="ri-home-4-line"></i></a></li>
                                            <li class="mr-4"><a href="#" class="text-white"><i class="ri-user-line"></i></a></li>
                                            <li>
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton01"
                                                        data-toggle="dropdown">
                                                        <i class="ri-settings-5-line"></i>
                                                    </span>
                                                    <div class="dropdown-menu dropdown-menu-right shadow-none"
                                                        aria-labelledby="dropdownMenuButton01">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another Action</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fuild">
                <div class="row">               
                    <div class="col-lg-12">
                        <div class="card bg-primary">  
                            <div class="card-body">                      
                                <div class="container">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-uppercase">Menu</span>
                                        <div>
                                            <ul class="d-flex align-items-center list-inline p-0 m-0">
                                                <li class="mr-4"><a href="#" class="text-white"><i class="ri-home-4-line"></i></a></li>
                                                <li class="mr-4"><a href="#" class="text-white"><i class="ri-user-line"></i></a></li>
                                                <li>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton01"
                                                            data-toggle="dropdown">
                                                            <i class="ri-settings-5-line"></i>
                                                        </span>
                                                        <div class="dropdown-menu dropdown-menu-right shadow-none"
                                                            aria-labelledby="dropdownMenuButton01">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another Action</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card bg-success">
                            <div class="card-body">               
                                <div class="container">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-uppercase">Menu</span>
                                        <div>
                                            <ul class="d-flex align-items-center list-inline p-0 m-0">
                                                <li class="mr-4"><a href="#" class="text-white">Home</a></li>
                                                <li class="mr-4"><a href="#" class="text-white">Profile</a></li>
                                                <li>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton01"
                                                            data-toggle="dropdown">
                                                            Setting
                                                        </span>
                                                        <div class="dropdown-menu dropdown-menu-right shadow-none"
                                                            aria-labelledby="dropdownMenuButton01">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another Action</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card bg-warning">
                            <div class="card-body">               
                                <div class="container">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-uppercase">Menu</span>
                                        <div>
                                            <ul class="d-flex align-items-center list-inline p-0 m-0">
                                                <li class="mr-4"><a href="#" class="text-white"><i class="ri-home-4-line"></i></a></li>
                                                <li class="mr-4"><a href="#" class="text-white"><i class="ri-user-line"></i></a></li>
                                                <li>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton01"
                                                            data-toggle="dropdown">
                                                            <i class="ri-settings-5-line"></i>
                                                        </span>
                                                        <div class="dropdown-menu dropdown-menu-right shadow-none"
                                                            aria-labelledby="dropdownMenuButton01">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another Action</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <div class="card bg-info">
                            <div class="card-body">               
                                <div class="container">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-uppercase">Menu</span>
                                        <div>
                                            <ul class="d-flex align-items-center list-inline p-0 m-0">
                                                <li class="mr-4"><a href="#" class="text-white">Home</a></li>
                                                <li class="mr-4"><a href="#" class="text-white">Profile</a></li>
                                                <li>
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton01"
                                                            data-toggle="dropdown">
                                                            Setting
                                                        </span>
                                                        <div class="dropdown-menu dropdown-menu-right shadow-none"
                                                            aria-labelledby="dropdownMenuButton01">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another Action</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-primary mb-4">Tabs</h4>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h6 class="mb-3">Tab With Icon</h6>
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active text-dark" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="ri-home-4-line mr-2"></i>Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="ri-user-line mr-2"></i>Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="ri-settings-5-line mr-3"></i>Contact</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent-2">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <h6 class="mb-3">Tab With Text</h6>
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active text-dark" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent-2">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-lg-6">
                                <h4 class="text-primary mb-4">Progressbar</h4>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-5">
                                <h4 class="text-primary mb-4">Pagination</h4>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination mb-3">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination mb-3">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                            1
                                            <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mb-5">
                                <h4 class="text-primary mb-4">Badges</h4>
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <span class="mr-2 mt-2 badge badge-primary">Primary</span>
                                    <span class="mr-2 mt-2 badge badge-secondary">Secondary</span>
                                    <span class="mr-2 mt-2 badge badge-success">Success</span>
                                    <span class="mr-2 mt-2 badge badge-danger">Danger</span>
                                    <span class="mr-2 mt-2 badge badge-warning">Warning</span>
                                    <span class="mr-2 mt-2 badge badge-info">Info</span>
                                    <span class="mr-2 mt-2 badge badge-light">Light</span>
                                    <span class="badge mt-2 badge-dark">Dark</span>
                                </div> 
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <span class="mr-2 mt-2 badge border border-primary text-primary">Primary</span>
                                    <span class="mr-2 mt-2 badge border border-secondary text-secondary">Secondary</span>
                                    <span class="mr-2 mt-2 badge border border-success text-success">Success</span>
                                    <span class="mr-2 mt-2 badge border border-danger text-danger">Danger</span>
                                    <span class="mr-2 mt-2 badge border border-warning text-warning">Warning</span>
                                    <span class="mr-2 mt-2 badge border border-info text-info">Info</span>
                                    <span class="mr-2 mt-2 badge border border-light text-light">Light</span>
                                    <span class="mr-2 mt-2 badge border border-dark text-dark">Dark</span>  
                                </div>   
                                <div class="d-flex flex-wrap align-items-center">
                                    <button type="button" class="btn btn-primary mt-2 mr-3">
                                    Notifications <span class="badge badge-light ml-2">4</span>
                                    </button>
                                    <button type="button" class="btn btn-success mt-2 mr-3">
                                    Notifications <span class="badge badge-light ml-2">4</span>
                                    </button>
                                    <button type="button" class="btn btn-danger mt-2 mr-3">
                                    Notifications <span class="badge badge-light ml-2">4</span>
                                    </button>
                                </div>                
                            </div>
                            <div class="col-lg-12">
                                <h4 class="text-primary mb-4">Alerts</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="alert alert-primary" role="alert">
                                    <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
                                </div>
                                <div class="alert alert-success" role="alert">
                                    <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
                                </div>
                                <div class="alert alert-danger" role="alert">
                                    <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
                                </div>
                                <div class="alert alert-info" role="alert">
                                    <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
                                </div>
                                <div class="alert alert-light" role="alert">
                                    <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="alert text-white bg-primary" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-alert-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                                <div class="alert text-white bg-secondary" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-information-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                                <div class="alert text-white bg-success" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-alert-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                                <div class="alert text-white bg-danger" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-information-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                                <div class="alert text-white bg-warning" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-alert-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                                <div class="alert text-white bg-info" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-information-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                                <div class="alert bg-light" role="alert">
                                    <div class="iq-alert-icon">
                                    <i class="ri-alert-line"></i>
                                    </div>
                                    <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
                                    <button type="button" class="close text-muted" data-dismiss="alert" aria-label="Close">
                                    <i class="ri-close-line"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-5">
                                <h4 class="text-primary mb-4">Typography</h4>
                            </div>
                            <div class="col-lg-12 mb-5">
                                <h6 class="mb-3">Display headings</h6>
                                <h1 class="display-1">Display headings</h1>
                                <h1 class="display-2">Display headings</h1>
                                <h1 class="display-3">Display headings</h1>
                                <h1 class="display-4">Display headings</h1>
                            </div>
                            <div class="col-lg-6 mb-5">
                                <h6 class="mb-3">Typography</h6>
                                <h1 class="mb-2">h1. Bootstrap heading</h1>
                                <h2 class="mb-2">h2. Bootstrap heading</h2>
                                <h3 class="mb-3">h3. Bootstrap heading</h3>
                                <h4 class="mb-3">h4. Bootstrap heading</h4>
                                <h5 class="mb-3">h5. Bootstrap heading</h5>
                                <h6 class="mb-0">h6. Bootstrap heading</h6>
                            </div>
                            <div class="col-lg-6 mb-5">
                                <h6 class="mb-3">Headings</h6>
                                <p class="h1 mb-3">h1. Bootstrap heading</p>
                                <p class="h2 mb-3">h2. Bootstrap heading</p>
                                <p class="h3 mb-3">h3. Bootstrap heading</p>
                                <p class="h4 mb-3">h4. Bootstrap heading</p>
                                <p class="h5 mb-3">h5. Bootstrap heading</p>
                                <p class="h6 mb-0">h6. Bootstrap heading</p>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="text-primary mb-4">Images</h4>
                            </div>
                            <div class="col-lg-3 mb-5">
                                <h6 class="mb-4">Image Rounded</h6>
                                <img src="../assets/images/user/1.png" class="avatar-100 img-fluid rounded" alt="image">
                            </div>
                            <div class="col-lg-3 mb-5">
                                <h6 class="mb-4">Image Rounded Circle</h6>
                                <img src="../assets/images/user/1.png" class="avatar-100 img-fluid rounded-circle" alt="image">
                            </div>
                            <div class="col-lg-3 mb-5">
                                <h6 class="mb-4">Image</h6>
                                <img src="../assets/images/user/1.png" class="avatar-100 img-fluid" alt="image">
                            </div>  
                            <div class="col-lg-3 mb-5">
                                <h6 class="mb-4">Image Initials</h6>
                                <img class="avatar-100 rounded" src="../assets/images/user/i1.jpg" alt="#" data-original-title="" title="">
                            </div>
                            <div class="col-lg-4 mb-5">
                                <h6 class="mb-4">Avatar Group</h6>
                                <div class="iq-avatar">
                                    <div class="iq-media-group">
                                        <a href="#" class="iq-media">
                                            <img class="img-fluid avatar-60 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                                        </a>
                                        <a href="#" class="iq-media">
                                            <img class="img-fluid avatar-60 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                                        </a>
                                        <a href="#" class="iq-media">
                                            <img class="img-fluid avatar-60 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                                        </a>
                                        <a href="#" class="iq-media">
                                            <img class="img-fluid avatar-60 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                                        </a>
                                        <a href="#" class="iq-media">
                                            <img class="img-fluid avatar-60 rounded-circle" src="../assets/images/user/09.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <h6 class="mb-4">Avatar Group</h6>
                                <div class="iq-avatar d-flex flex-wrap align-items-center">
                                    <a href="#" class="iq-media mt-2 mr-3">
                                        <img class="img-fluid avatar-100 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                                    </a>
                                    <a href="#" class="iq-media mt-2 mr-3">
                                        <img class="img-fluid avatar-80 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                                    </a>
                                    <a href="#" class="iq-media mt-2 mr-3">
                                        <img class="img-fluid avatar-60 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                                    </a>
                                    <a href="#" class="iq-media mt-2 mr-3">
                                        <img class="img-fluid avatar-50 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                                    </a>
                                    <a href="#" class="iq-media mt-2">
                                        <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/09.jpg" alt="">
                                    </a>
                                </div>
                            </div>   
                            <div class="col-lg-12">
                                <h4 class="text-primary mb-4">Modals</h4>
                            </div>     
                            <div class="col-lg-12 mb-5">
                                <button type="button" class="btn btn-primary mt-2 mr-3" data-toggle="modal" data-target="#exampleModal">
                                    Launch demo modal
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger mt-2 mr-3" data-toggle="modal" data-target="#exampleModalLong">
                                    Launch demo modal
                                </button>
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success mt-2 mr-3" data-toggle="modal" data-target="#exampleModalScrollable">
                                    Launch demo modal
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-warning mt-2 mr-3" data-toggle="modal" data-target="#exampleModalCenter">
                                    Launch demo modal
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="col-lg-12">
                                <h4 class="text-primary mb-4">Datepicker</h4>
                            </div>  
                            <div class="col-lg-3 mb-4">
                                <h6 class="mb-4">Date Input</h6>
                                <input type="date" class="form-control" id="exampleInputdate" value="2019-12-18">
                            </div> 
                            <div class="col-lg-3 mb-4">
                                <h6 class="mb-4">Month Date</h6>
                                <input type="month" class="form-control" id="exampleInputmonth" value="2019-12">
                            </div> 
                            <div class="col-lg-3 mb-4">
                                <h6 class="mb-4">Date Time</h6>
                                <input type="time" class="form-control" id="exampleInputtime" value="13:45">
                            </div> 
                            <div class="col-lg-3 mb-4">
                                <h6 class="mb-4">Week Input</h6>
                                <input type="week" class="form-control" id="exampleInputweek" value="2019-W46">
                            </div>
                            <div class="col-lg-12 mt-5">
                                <h4 class="text-primary mb-4">Tooltips</h4>
                            </div>  
                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <button type="button" class="btn btn-primary mt-2 mr-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                        Tooltip on top
                                    </button>
                                    <button type="button" class="btn btn-success mt-2 mr-3" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                        Tooltip on right
                                    </button>
                                    <button type="button" class="btn btn-danger mt-2 mr-3" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                        Tooltip on bottom
                                    </button>
                                    <button type="button" class="btn btn-warning mt-2 mr-3" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                        Tooltip on left
                                    </button>
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="" data-original-title="Disabled tooltip" aria-describedby="tooltip432134">
                                        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled="">Disabled button</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-5">
                                <h4 class="text-primary mb-4">Popovers</h4>
                            </div>  
                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <button type="button" class="btn btn-primary mt-2 mr-3" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                    Popover on top
                                    </button>
                                    <button type="button" class="btn btn-success mt-2 mr-3" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                    Popover on right
                                    </button>
                                    <button type="button" class="btn btn-warning mt-2 mr-3" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                                        sagittis lacus vel augue laoreet rutrum faucibus.">
                                    Popover on bottom
                                    </button>
                                    <button type="button" class="btn btn-info mt-2" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                    Popover on left
                                    </button>
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page end  -->
    </div>
{{/content}}
{{/extend}} 